body {
    background-color: azure;
}


.active-btn {
    color: rgb(117, 2, 2);
}

ul {
    list-style-type: none;
}

.content {
    margin-bottom: 4rem;


}

h4 {
    background-color: rgba(224, 211, 223, 0.5);
    border: 3px solid red;
    padding: .7rem 0;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;

}

@media(mmax-width:1300px) {

    .colapse-text {
        width: 90%;
        text-align: center;
        display: flex;
    }
}

.name-footer {
    padding: 3rem;
}